<<<<<<< HEAD
﻿@model IEnumerable<KaskKiosk.AESApplicationServiceRef.Application>
=======
﻿@model IEnumerable<KaskKiosk.AESApplicationServiceRef.ApplicationDAO>
>>>>>>> origin/views

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Applications</h2>
<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>Application Status</th>
<<<<<<< HEAD
=======
        <th>Actions</th>
>>>>>>> origin/views
    </tr>
@foreach (var item in ViewBag.applications)
{
    <tr>
<<<<<<< HEAD
        <td>@item.Application_ID</td>
        <td>@item.ApplicationStatus</td>
=======
        <td>@item.ApplicationID</td>
        <td>@item.ApplicationStatus</td>
        <td>@Html.ActionLink("View Details", "Details", new { id=item.ApplicationID })</td>
>>>>>>> origin/views
    </tr>
}
</table>