@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "Job Opening Details";
}

<h2>Job Opening Details</h2><br />
<div class="section" id="section0">
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Job Type:")<br />
        @if (ViewBag.jobs != null)
        {
            foreach (var job in @ViewBag.jobs)
            {
                if (ViewBag.jobOpening.JobID == @job.JobID)
                {
                    @job.Title
                }
            }
        }
    </div>
    <br style="clear:both;"/>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Job for Store:")<br />
        @if (ViewBag.stores != null)
        {
            foreach (var store in @ViewBag.stores)
            {
                if (ViewBag.jobOpening.StoreID == @store.StoreID)
                {
                    @store.Location
                }
            }
        }
    </div>
    <br style="clear:both;"/>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Description:")<br />
        @ViewBag.jobOpening.Description
    </div>
    <br style="clear:both;"/>
</div>
    
<div class="section" id="section1">
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Skills Needed:")<br />
        @if (ViewBag.jobRequirements != null)
        {
            foreach (var jobRequirement in @ViewBag.jobRequirements)
            {
                if (jobRequirement.JobOpeningID == ViewBag.jobOpening.JobOpeningID)
                {
                    foreach (var skill in @ViewBag.skills)
                    {
                        if (skill.SkillID == @jobRequirement.SkillID)
                        {
                            @skill.SkillName<br />
                        }
                    }
                }
            }
        }
    </div>
    <br style="clear:both;"/>
</div>