@model IEnumerable<KaskKiosk.AESApplicationServiceRef.JobOpeningDAO>

@{
    ViewBag.Title = "Current Openings";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<h2>Current Openings</h2>
@foreach (var item in ViewBag.jobOpenings)
{
    <table class="table table-striped table-bordered">
    <tr>
        <td>
            @Html.Label("Job Title:")
            @if (ViewBag.jobs != null)
            {
                foreach (var job in @ViewBag.jobs)
                {
                    if (job.JobID == @item.JobID)
                    {
                        @job.Title
                    }
                }
            }
        </td>
        <td style="width:200px;">
            @Html.Label("Location:")
            @if (ViewBag.stores != null)
            {
                foreach (var store in @ViewBag.stores)
                {
                    if (store.StoreID == @item.StoreID)
                    {
                        @store.Location
                    }
                }
            }
        </td>
        <td style="width:100px;">
            @Html.Label("Job#:")
            @item.ID
        </td>
        <td style="width:200px;">
            @Html.Label("Opening Date:")
            @item.OpenDate.ToString("yyyy-MM-dd")
        </td>
    </tr>
    <tr>
        <td colspan="4">
            @Html.Label("Job Description:")<br />
            @item.Description
            <div style="float:right;">
                <a href="/App/Create?JobOpeningIDReferenceNumber=@item.ID" class="btn btn-lg btn-default">Apply</a>
            </div>
        </td>
    </tr>
    </table>
}