@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create.cshtml";
}

<h2>New Application</h2>

@using (Html.BeginForm("Create", "Application", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <h3>Personal</h3>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("First Name:")
        <input type="text" class="form-control" name="FirstName" id="FirstName" placeholder="Enter First Name" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Middle Name:")
        <input type="text" class="form-control" name="MiddleName" id="MiddleName" placeholder="Enter Middle Name" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Last Name:")
        <input type="text" class="form-control" name="LastName" id="LastName" placeholder="Enter Last Name" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Social Security Number:")
        <input type="text" class="form-control" name="SSN" id="SSN" placeholder="Enter Social Security Number" />
    </div>
    <div class="form-group spacing" style="width:400px;float:left;clear:both;">
        @Html.Label("Address:")
        <input type="text" class="form-control" name="Address" id="Address" placeholder="Street, City, State, Zip" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Phone:")
        <input type="text" class="form-control" name="Phone" id="Phone" placeholder="Enter Phone Number" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Name Alias:")
        <input type="text" class="form-control" name="NameAlias" id="NameAlias" placeholder="If you have gone by another name, please supply it here"/>
    </div>
    <br style="clear:both;"/>
    
    <h3>Position</h3>
    <div class="form-group spacing" style="width:400px;float:left;">
        @Html.Label("Position Applying For:")
        <select class="form-control"></select>
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Salary Expectation:")
        <input type="text" class="form-control" name="SalaryExpectation" id="SalaryExpectation" placeholder="Enter Salary Expectation" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Full Time:")
        <select class="form-control">
            <option>Yes</option>
            <option>No</option>
        </select>
    </div>
    <div class="form-group spacing" style="width:200px;float:left;clear:both;">
        @Html.Label("Days?")
        <select class="form-control">
            <option>Yes</option>
            <option>No</option>
        </select>
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Evenings?")
        <select class="form-control">
            <option>Yes</option>
            <option>No</option>
        </select>
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Weekends?")
        <select class="form-control">
            <option>Yes</option>
            <option>No</option>
        </select>
    </div>
    <div class="form-group spacing" style="float:left;clear:both;">
        @Html.Label("Days / Hours Available?")<br />
        <div style="width:80px;float:left;">
            @Html.Label("Monday From:")
            <select class="form-control">
                @foreach (var item in ViewBag.timePickerList)
                {
                    <option>@item</option>
                }
            </select>
        </div>
        <div style="width:80px;float:left;">
            @Html.Label("Tuesday From:")
            <select class="form-control">
                @foreach (var item in ViewBag.timePickerList)
                {
                    <option>@item</option>
                }
            </select>
        </div>
        <div style="width:80px;float:left;">
            @Html.Label("Wednesday From:")
            <select class="form-control">
                @foreach (var item in ViewBag.timePickerList)
                {
                    <option>@item</option>
                }
            </select>
        </div>
        <div style="width:80px;float:left;">
            @Html.Label("Thursday From:")
            <select class="form-control">
                @foreach (var item in ViewBag.timePickerList)
                {
                    <option>@item</option>
                }
            </select>
        </div>
        <div style="width:80px;float:left;">
            @Html.Label("Friday From:")
            <select class="form-control">
                @foreach (var item in ViewBag.timePickerList)
                {
                    <option>@item</option>
                }
            </select>
        </div>
        <div style="width:80px;float:left;">
            @Html.Label("Saturday From:")
            <select class="form-control">
                @foreach (var item in ViewBag.timePickerList)
                {
                    <option>@item</option>
                }
            </select>
        </div>
        <div style="width:80px;float:left;">
            @Html.Label("Sunday From:")
            <select class="form-control">
                @foreach (var item in ViewBag.timePickerList)
                {
                    <option>@item</option>
                }
            </select>
        </div><br />
        <div style="width:80px;float:left;">
            @Html.Label("To:")
            <select class="form-control">
                @foreach (var item in ViewBag.timePickerList)
                {
                    <option>@item</option>
                }
            </select>
        </div>
        <div style="width:80px;float:left;">
            @Html.Label("To:")
            <select class="form-control">
                @foreach (var item in ViewBag.timePickerList)
                {
                    <option>@item</option>
                }
            </select>
        </div>
        <div style="width:80px;float:left;">
            @Html.Label("To:")
            <select class="form-control">
                @foreach (var item in ViewBag.timePickerList)
                {
                    <option>@item</option>
                }
            </select>
        </div>
        <div style="width:80px;float:left;">
            @Html.Label("To:")
            <select class="form-control">
                @foreach (var item in ViewBag.timePickerList)
                {
                    <option>@item</option>
                }
            </select>
        </div>
        <div style="width:80px;float:left;">
            @Html.Label("To:")
            <select class="form-control">
                @foreach (var item in ViewBag.timePickerList)
                {
                    <option>@item</option>
                }
            </select>
        </div>
        <div style="width:80px;float:left;">
            @Html.Label("To:")
            <select class="form-control">
                @foreach (var item in ViewBag.timePickerList)
                {
                    <option>@item</option>
                }
            </select>
        </div>
        <div style="width:80px;float:left;">
            @Html.Label("To:")
            <select class="form-control">
                @foreach (var item in ViewBag.timePickerList)
                {
                    <option>@item</option>
                }
            </select>
        </div>
    </div>
    <br style="clear:both;"/>
    
    <h3>Job History</h3>
    <div class="form-group spacing" style="width:800px;float:left;">
        @Html.Label("May we contact your current employer?")
        <select class="form-control">
            <option>Yes</option>
            <option>No</option>
        </select>
    </div>
    <div class="form-group spacing" style="width:400px;float:left;">
        @Html.Label("Employer:")
        <input type="text" class="form-control" name="Employer" id="Employer" placeholder="Enter Employer" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("From:")
        <input type="text" class="form-control" name="From" id="From" placeholder="month/year" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("To:")
        <input type="text" class="form-control" name="To" id="To" placeholder="month/year" />
    </div>
    <div class="form-group spacing" style="width:400px;float:left;clear:both;">
        @Html.Label("Address:")
        <input type="text" class="form-control" name="Address" id="Address" placeholder="Street, City, State, Zip" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Phone:")
        <input type="text" class="form-control" name="Phone" id="Phone" placeholder="Enter Phone Number" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Supervisor:")
        <input type="text" class="form-control" name="Supervisor" id="Supervisor" placeholder="Enter Supervisor name" />
    </div>
    <div class="form-group spacing" style="width:400px;float:left;clear:both;">
        @Html.Label("Position:")
        <input type="text" class="form-control" name="Position" id="Position" placeholder="Enter position" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Starting Salary:")
        <input type="text" class="form-control" name="StartingSalary" id="StartingSalary" placeholder="$" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Ending Salary:")
        <input type="text" class="form-control" name="EndingSalary" id="EndingSalary" placeholder="$" />
    </div>
    <div class="form-group spacing" style="width:800px;float:left;clear:both;">
        @Html.Label("Reason for leaving:")
        <input type="text" class="form-control" name="ReasonForLeaving" id="ReasonForLeaving" placeholder="Enter reason for leaving" />
    </div>
    <div class="form-group spacing" style="width:800px;float:left;clear:both;">
        @Html.Label("Describe your Responsibilities:")
        <textarea class="form-control" name="Responsibilities" id="Responsibilities" placeholder="Enter job responsibilities"></textarea>
    </div>
    <br style="clear:both;"/>
    
    <div class="form-group spacing" style="width:400px;float:left;">
        @Html.Label("Employer:")
        <input type="text" class="form-control" name="Employer" id="Employer" placeholder="Enter Employer" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("From:")
        <input type="text" class="form-control" name="From" id="From" placeholder="month/year" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("To:")
        <input type="text" class="form-control" name="To" id="To" placeholder="month/year" />
    </div>
    <div class="form-group spacing" style="width:400px;float:left;clear:both;">
        @Html.Label("Address:")
        <input type="text" class="form-control" name="Address" id="Address" placeholder="Street, City, State, Zip" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Phone:")
        <input type="text" class="form-control" name="Phone" id="Phone" placeholder="Enter Phone Number" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Supervisor:")
        <input type="text" class="form-control" name="Supervisor" id="Supervisor" placeholder="Enter Supervisor name" />
    </div>
    <div class="form-group spacing" style="width:400px;float:left;clear:both;">
        @Html.Label("Position:")
        <input type="text" class="form-control" name="Position" id="Position" placeholder="Enter position" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Starting Salary:")
        <input type="text" class="form-control" name="StartingSalary" id="StartingSalary" placeholder="$" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Ending Salary:")
        <input type="text" class="form-control" name="EndingSalary" id="EndingSalary" placeholder="$" />
    </div>
    <div class="form-group spacing" style="width:800px;float:left;clear:both;">
        @Html.Label("Reason for leaving:")
        <input type="text" class="form-control" name="ReasonForLeaving" id="ReasonForLeaving" placeholder="Enter reason for leaving" />
    </div>
    <div class="form-group spacing" style="width:800px;float:left;clear:both;">
        @Html.Label("Describe your Responsibilities:")
        <textarea class="form-control" name="Responsibilities" id="Responsibilities" placeholder="Enter job responsibilities"></textarea>
    </div>
    <br style="clear:both;"/>
    
    <div class="form-group spacing" style="width:400px;float:left;">
        @Html.Label("Employer:")
        <input type="text" class="form-control" name="Employer" id="Employer" placeholder="Enter Employer" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("From:")
        <input type="text" class="form-control" name="From" id="From" placeholder="month/year" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("To:")
        <input type="text" class="form-control" name="To" id="To" placeholder="month/year" />
    </div>
    <div class="form-group spacing" style="width:400px;float:left;clear:both;">
        @Html.Label("Address:")
        <input type="text" class="form-control" name="Address" id="Address" placeholder="Street, City, State, Zip" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Phone:")
        <input type="text" class="form-control" name="Phone" id="Phone" placeholder="Enter Phone Number" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Supervisor:")
        <input type="text" class="form-control" name="Supervisor" id="Supervisor" placeholder="Enter Supervisor name" />
    </div>
    <div class="form-group spacing" style="width:400px;float:left;clear:both;">
        @Html.Label("Position:")
        <input type="text" class="form-control" name="Position" id="Position" placeholder="Enter position" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Starting Salary:")
        <input type="text" class="form-control" name="StartingSalary" id="StartingSalary" placeholder="$" />
    </div>
    <div class="form-group spacing" style="width:200px;float:left;">
        @Html.Label("Ending Salary:")
        <input type="text" class="form-control" name="EndingSalary" id="EndingSalary" placeholder="$" />
    </div>
    <div class="form-group spacing" style="width:800px;float:left;clear:both;">
        @Html.Label("Reason for leaving:")
        <input type="text" class="form-control" name="ReasonForLeaving" id="ReasonForLeaving" placeholder="Enter reason for leaving" />
    </div>
    <div class="form-group spacing" style="width:800px;float:left;clear:both;">
        @Html.Label("Describe your Responsibilities:")
        <textarea class="form-control" name="Responsibilities" id="Responsibilities" placeholder="Enter job responsibilities"></textarea>
    </div>
    <br style="clear:both;"/>
    
    <h3>Education</h3>
    <div class="form-group spacing" style="width:400px;float:left;clear:both;">
        @Html.Label("Name and address of school:")
        <input type="text" class="form-control" name="NameAndAddressOfSchool" id="NameAndAddressOfSchool" placeholder="Enter Name and Address of School" />
    </div>
    <div class="form-group spacing" style="width:133px;float:left;">
        @Html.Label("Years Attended:")
        <input type="text" class="form-control" name="YearsAttended" id="YearsAttended" placeholder="Enter Years Attended" />
    </div>
    <div class="form-group spacing" style="width:133px;float:left;">
        @Html.Label("Graduated:")
        <select class="form-control">
            <option>Yes</option>
            <option>No</option>
        </select>
    </div>
    <div class="form-group spacing" style="width:134px;float:left;">
        @Html.Label("Degree/Major:")
        <input type="text" class="form-control" name="DegreeAndMajor" id="DegreeAndMajor" placeholder="Enter Degree and Major" />
    </div>
    <br style="clear:both;"/>
    
    <div class="form-group spacing" style="width:400px;float:left;clear:both;">
        @Html.Label("Name and address of school:")
        <input type="text" class="form-control" name="NameAndAddressOfSchool" id="NameAndAddressOfSchool" placeholder="Enter Name and Address of School" />
    </div>
    <div class="form-group spacing" style="width:133px;float:left;">
        @Html.Label("Years Attended:")
        <input type="text" class="form-control" name="YearsAttended" id="YearsAttended" placeholder="Enter Years Attended" />
    </div>
    <div class="form-group spacing" style="width:133px;float:left;">
        @Html.Label("Graduated:")
        <select class="form-control">
            <option>Yes</option>
            <option>No</option>
        </select>
    </div>
    <div class="form-group spacing" style="width:134px;float:left;">
        @Html.Label("Degree/Major:")
        <input type="text" class="form-control" name="DegreeAndMajor" id="DegreeAndMajor" placeholder="Enter Degree and Major" />
    </div>
    <br style="clear:both;"/>
    
    <div class="form-group spacing" style="width:400px;float:left;clear:both;">
        @Html.Label("Name and address of school:")
        <input type="text" class="form-control" name="NameAndAddressOfSchool" id="NameAndAddressOfSchool" placeholder="Enter Name and Address of School" />
    </div>
    <div class="form-group spacing" style="width:133px;float:left;">
        @Html.Label("Years Attended:")
        <input type="text" class="form-control" name="YearsAttended" id="YearsAttended" placeholder="Enter Years Attended" />
    </div>
    <div class="form-group spacing" style="width:133px;float:left;">
        @Html.Label("Graduated:")
        <select class="form-control">
            <option>Yes</option>
            <option>No</option>
        </select>
    </div>
    <div class="form-group spacing" style="width:134px;float:left;">
        @Html.Label("Degree/Major:")
        <input type="text" class="form-control" name="DegreeAndMajor" id="DegreeAndMajor" placeholder="Enter Degree and Major" />
    </div>
    <br style="clear:both;"/>
}