@model KaskKiosk.Models.LoginModel

@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<section id="loginForm">
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <ul>
        <li>
            @Html.LabelFor(m => m.UserName):<br />
            @Html.TextBoxFor(m => m.UserName)<br />
            @Html.ValidationMessageFor(m => m.UserName)
        </li>
        <li>
            @Html.LabelFor(m => m.Password):<br />
            @Html.PasswordFor(m => m.Password)<br />
            @Html.ValidationMessageFor(m => m.Password)
        </li>
    </ul>
    <input type="submit" value="Log In" class="btn btn-primary" />
    <!--
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
    -->
}
</section>