@model KaskKiosk.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<section id="loginForm">
<h2>New User Account</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <ul>
        <li>
            @Html.LabelFor(m => m.UserName):<br />
            @Html.TextBoxFor(m => m.UserName)
        </li>
        <li>
            @Html.LabelFor(m => m.Password):<br />
            @Html.PasswordFor(m => m.Password)
        </li>
        <li>
            @Html.LabelFor(m => m.ConfirmPassword):<br />
            @Html.PasswordFor(m => m.ConfirmPassword)
        </li>
    </ul>
    <input type="submit" value="Register" />
}
</section>